.category {
      // флекс элемент
      position: relative; //  относительно этого элемента позиционруем .category__list


      &__title {
            width: 180px;
            display: flex;
            align-items: center;
            gap: 10px;
            position: relative; //  чтобы пропсиать z-index
            z-index: 10;


            @include tablet {
                  margin-bottom: 0;
            }
      }


      &__list {
            padding-top: 24px;

            @include tablet {
                  display: none;
                  position: absolute; // позиионирем  меню относиельно  родителя  .category
                  top: -16px;
                  left: -16px;
                  z-index: 3;

                  padding: 16px;
                  padding-top: 60px;
                  background-color: #FFFFFF;
                  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
                  border-radius: 12px;
            }
      }


      &__item {
            margin-bottom: 10px;

      }


      &__btn {
            font-weight: 300;
            padding-left: 30px; // осовобили место для иконоки
            background-position: left;
            background-size: 18px 18px;
            background-repeat: no-repeat;

      }


      &__btn--photografer {
            background-image: url('img/camera.svg');
      }


      &__btn--makeup {
            background-image: url('img/make-up.svg');
      }


      &__btn--masseur {
            background-image: url('img/massage.svg');
      }


      &__btn--handyman {
            background-image: url('img/husband.svg');
      }


      &__btn--cosmetolog {
            background-image: url('img/cosmetolog.svg');
      }


      &__btn--electrian {
            background-image: url('img/electric.svg');
      }


      &__btn--manikurist {
            background-image: url('img/manikur.svg');
      }


      &__btn--plamber {
            background-image: url('img/plamber.svg');
      }
}