.header {

      padding: 25px 0;

      &__container {
            display: flex;
            align-items: center;
            gap: 20px 30px;

            @include tablet {
                  flex-wrap: wrap;
                  justify-content: space-between;
            }
      }


      &__logo {
            // флекс элемент
            margin-right: 58px;

            @include laptop {
                  margin-right: 38px;
            }

            @include tablet {
                  margin-right: 0;
            }
      }


      &__search {
            // флекс элемент, прижмется влево
            margin-right: auto;

            @include tablet {
                  order: 1;
            }
      }


      &__auth {
            //  флекс элемент,
            display: flex;
            gap: 40px;

            @include laptop {
                  gap: 30px;
            }

            @include mobile {
                  font-size: 0; // чтобы шрифт рядом с иконками не отображался

            }
      }


      &__auth-btn {
            display: flex;
            align-items: center;
            gap: 4px;
            transition: color ю2s ease-in-out; // цвет меняется плавно в течение 0.2s

            &:hover {
                  color: #FFD600;
            }

            &:active {
                  color: #E5C207;
            }
      }


      &__auth-btn--sign-in {}


      &__auth-btn--sign-out {}
}