.search {
      max-width: 580px;
      width: 100%; // чтоы при сжатии экран, элемент сжимался
      height: 46px;
      position: relative; // Лупу позиционируем относительно этго элемента

      &__input {
            width: 100%;
            height: 100%;
            padding: 10px 24px;
            background-color: #FFFFFF;
            border-radius: 6px;
            border: none;
            color: #A9A9A9;
            font-weight: 300;
            font-size: 16px;
            line-height: 19px;
      }

      &__submit {
            // Лупа
            position: absolute;
            right: 24px;
            top: 50%;
            transform: translateY(-50%); // % от размера Лупы, подняли лупу наверх по вертикали
            line-height: 0; //  у svg убрали нижний отсуп
      }
}