.service {
      // грид контенер
      padding: 24px;
      background-color: #fff;
      border-radius: 8px;
      margin-bottom: 10px;

      display: grid;
      grid-template-columns: 50px 1fr max-content;
      gap: 20px 24px;

      grid-template-areas: // 2 строки, 3 столбца
            "avatar present price"
            "contacts contacts review";


      &--person {
            gap: 40px 14px; //  40px между строками 
      }


      &__avatar {
            // грид элемент
            grid-area: avatar;
      }

      &__present {
            // грид элемент
            grid-area: present;
      }

      &__title {
            margin-bottom: 10px;
            font-size: 24px;
            line-height: 28px;
            font-weight: 400;
      }

      &__name {
            font-weight: 300;
            font-size: 16px;
            line-height: 19px;
      }

      &__price {
            // грид элемент
            grid-area: price;
            font-size: 24px;
            line-height: 28px;
            justify-self: end; // грид элемент прижмется вправо
      }


      &__contacts {
            // грид элемент
            grid-area: contacts;
            grid-column: 1/3; // растянется  c  1-ой по  3-ую линию.

            display: flex;
            flex-direction: column;
            gap: 8px;
      }

      &__link {
            position: relative; // иконки будем позиционировать относиельно этого элемента
            display: flex;
            align-items: center;
            gap: 9px;

            &::before {
                  // псевдоэлемент для иконкон теелфона и  емейл
                  content: '';
                  display: block; //  чтоыб восприимал размеры иконок
                  width: 24px; // размеры иконки
                  height: 24px;
                  background-repeat: no-repeat;
                  background-size: contain;
                  background-position: center;
            }

            &--phone::before {
                  background-image: url('img/phone.svg');
            }

            &--email::before {
                  background-image: url('img/envelope.svg');
            }
      }

      &__link--phone {}


      &__review {
            // грид элемент
            grid-area: review;
            align-self: end; // грид элемент прижмется к низу ячейки
            display: flex;
            align-items: center;

      }

      &__stars {

            margin-right: 16px;
      }

      &__count-review {
            padding-left: 15px; // место для иконки оставляем
            background-image: url("img/review.svg");
            background-position: left;
            background-repeat: no-repeat;
            background-size: 14px 14px;
      }


}