.service {
      padding: 24px;
      background-color: #fff;
      border-radius: 8px;
      margin-bottom: 10px;



      &__avatar {}

      &__present {}

      &__title {}

      &__name {}

      &__price {}

      &__review {}

      &__stars {}

      &__count-review {}
}