.service {
      // грид контенер
      padding: 24px;
      background-color: #fff;
      border-radius: 8px;
      margin-bottom: 10px;

      display: grid;
      grid-template-columns: 50px 1fr max-content;
      gap: 20px 24px;

      grid-template-areas: // 2 строки, 3 столбца
            "avatar present price"
            " . . review";



      &__avatar {
            // грид элемент
            grid-area: avatar;
      }

      &__present {
            // грид элемент
            grid-area: present;
      }

      &__title {
            margin-bottom: 10px;
            font-size: 24px;
            line-height: 28px;
      }

      &__name {
            font-weight: 300;
            font-size: 16px;
            line-height: 19px;
      }

      &__price {
            // грид элемент
            grid-area: price;
            font-size: 24px;
            line-height: 28px;
            justify-self: end; // грид элемент прижмется вправо
      }

      &__review {
            // грид элемент
            grid-area: review;
            display: flex;
            align-items: center;
      }

      &__stars {
            display: flex;
            align-items: center;
            gap: 2px;
            margin-right: 16px;
      }

      &__count-review {
            padding-left: 15px; // место для иконки оставляем
            background-image: url("img/review.svg");
            background-position: left;
            background-repeat: no-repeat;
            background-size: 14px 14px;
      }
}